body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#f8f9fa;
}
#navbar{
  font-family: "Ubuntu";
}
#navbar{
  background-color:#f8f9fa;
  webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  text-align: center;
}
#top{
  margin: 2% 0;
}
#top h3{
  text-align: left;
}
#top .card-title{
  font-size: 1rem;
  text-align: center;
  padding:2px 8px;
}
#top .card{

  text-align: center;
  padding-bottom: 5px;
}
#top .sample-box{
  font-size: 1.3rem;
}
#top .sample-box .card{
  border: 3px solid grey;
  border-radius: 10px;
}
.update{
  font-family: "Ubuntu";
  font-size: 18px;
  text-align: left;
}
#top10{
  margin-top: 3%;
}
#PositiveVsTested{
  margin: 5% 0;
  height: auto;
}
#PositiveVsTested h3{
  margin-top:4%;
}
.attribution{
  background-color: #343a40;
  height: 50px;
  text-align: center;
  color: white;
  margin-top: 0%;
}

@media (max-width:700px){
  .top-title{
    font-size: 1rem;
  }
  #top h3{
    text-align: center;
  }
  #top .card{
    margin: 2% auto;

  }
  #top #mychart{
    padding: 6%;
  }
  #top canvas{
    padding: 20px;
  }
  #top10 h3{
  margin-top: 8%;
  }
  #PositiveVsTested h3{
      margin-top: 6%;
    }
    .attribution{
      margin-top: 18%;
    }
}
